<div class="panel panel-primary">
  <div class="panel-heading">
    Login
  </div>
  <div class="panel-body">
    <div class="row">
      <form class="appForm" name="loginForm" novalidate>
        <div class="alert alert-success" ng-show="vm.registered">You have successfully registered.Please login.</div>
        <div  class="alert alert-danger" ng-show="vm.submitted && loginForm.$invalid">Please fill the required fields</div>
        <div class="alert alert-danger" ng-show="loginForm.$valid && vm.loginFailed">Please enter valid credentials</div>
        <div class="form-group">
          <label for="username">Username</label>
          <div class="addon">
            <div class="glyphicon glyphicon-user"></div>
          </div>
          <input type="text" class="form-control" name="username" ng-model="vm.user.username" required />
          <div class="error-message" ng-show="vm.submitted && loginForm.username.$error.required">Username is required</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="addon">
            <div class="glyphicon glyphicon-lock"></div>
          </div>
          <input type="password" class="form-control" name="password" ng-model="vm.user.password" required />
          <div class="error-message" ng-show="vm.submitted && loginForm.password.$error.required">Password is required</div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="vm.login()">Login</button>
        </div>
        <div class="form-group">
          <span>Don't have an Account?</span> 
           <a ui-sref="registration" class="btn btn-link">Create an account</a>
        </div>
      </form>
    </div>
  </div>
</div>
