<div class="panel panel-primary">
  <div class="panel-heading">
    Registration
  </div>
  <div class="panel-body">
    <div class="row">
      <form class="appForm" name="registrationForm" novalidate>
        <div class="alert alert-danger" ng-show="vm.submitted && registrationForm.$invalid">Please fill all required fields</div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="firstname">Firstname</label>
              <div class="addon">
                <div class="glyphicon glyphicon-user"></div>
              </div>
              <input type="text" class="form-control" name="firstname" ng-model="vm.user.firstName" required/>
              <div class="error-message" ng-show="vm.submitted && registrationForm.firstname.$error.required">Firstname is required</div>
            </div>
            <div class="form-group col-sm-6" >
              <label for="lastname">Lastname</label>
              <div class="addon">
                <div class="glyphicon glyphicon-user"></div>
              </div>
              <input type="text" class="form-control" name="lastname" ng-model="vm.user.lastName"  required/>
              <div class="error-message" ng-show="vm.submitted && registrationForm.lastname.$error.required">Lastname is required</div>
            </div>
          </div>
		  <div class="form-group">
		    <label for="dob">Date Of Birth</label>
		    <p class="input-group">
              <input type="text" class="form-control" readonly="true" uib-datepicker-popup="{{vm.format}}" ng-model="dt" is-open="vm.datepicker.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="dob" ng-model="vm.user.dob" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
			  <div class="error-message" ng-show="vm.submitted && registrationForm.dob.$error.required">Date Of Birth is required</div>
           </p>
		  </div>
          <div class="form-group" >
            <label for="country">Country</label>
            <div class="addon">
              <div class="glyphicon glyphicon-globe"></div>
            </div>
            <select class="form-control" ng-model="vm.user.country" name="country" required>
              <option value="">Select Country</option>
              <option ng-repeat="country in vm.countries">{{country.name}}</option>
            </select>
            <div class="error-message" ng-show="vm.submitted && registrationForm.country.$error.required">Country is required</div>
          </div>
          <div class="form-group" >
            <div class="font-bold">Gender</div>
            <input type="radio"  id="radio01" name="radio" ng-model="vm.user.gender" value="M" required/>
            <label for="radio01"><span></span>Male</label>
            <input type="radio"  id="radio02" name="radio" ng-model="vm.user.gender" value="F" required/>
            <label for="radio02"><span></span>Female</label>
            <div class="error-message" ng-show="vm.submitted && registrationForm.radio.$error.required">Gender is required</div>
          </div>
          <div class="form-group" >
            <label for="email">Email</label>
            <div class="addon">
              <div class="glyphicon glyphicon-envelope"></div>
            </div>
            <input type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$/" class="form-control" name="email" ng-model="vm.user.email" required/>
            <div class="error-message" ng-show="vm.submitted && registrationForm.email.$error.required">Email is required</div>
            <div class="error-message" ng-show="vm.submitted && registrationForm.email.$error.pattern">Enter a valid email address</div>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <div class="addon">
              <div class="glyphicon glyphicon-user"></div>
            </div>
            <input type="text" class="form-control" name="username" ng-model="vm.user.username" required/>
            <div class="error-message" ng-show="vm.submitted && registrationForm.username.$error.required">Username is required</div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6" >
              <label for="password">Password</label>
              <div class="addon">
                <div class="glyphicon glyphicon-lock"></div>
              </div>
              <input type="password" class="form-control" name="password" ng-model="vm.user.password" required/>
              <div class="error-message" ng-show="vm.submitted && registrationForm.password.$error.required">Password is required</div>
            </div>
            <div class="form-group col-sm-6">
              <label for="confirmPassword">Confirm Password</label>
              <div class="addon">
                <div class="glyphicon glyphicon-lock"></div>
              </div>
              <input type="password" class="form-control" name="confirmPassword" ng-model="vm.user.confirmPassword" required/>
              <div class="error-message" ng-show="vm.submitted && registrationForm.confirmPassword.$error.required">Confirm Password is required</div>
              <div class="error-message" ng-show="vm.submitted && vm.user.confirmPassword && (vm.user.password !== vm.user.confirmPassword)">Confirm Password should be same as that of Password</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" ng-click="vm.register(registrationForm)">Register</button>
          </div>
        </form>
    </div>
  </div>
</div>
